# =======================================
# 🌱 AMBIENTES VIRTUAIS
# =======================================
venv/
env/
.venv/
.env/

# =======================================
# 🔐 ARQUIVOS DE CONFIGURAÇÃO / CREDENCIAIS
# =======================================
.cred
*.env
*.key
*.pem

# =======================================
# 🧩 CACHE, COMPILAÇÕES E TEMPORÁRIOS
# =======================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.log
*.sqlite3
*.db

# =======================================
# 🧠 CONFIGURAÇÕES DO EDITOR
# =======================================
.vscode/
.idea/

# =======================================
# 📦 DEPLOY / BUILD / DIST
# =======================================
dist/
build/
*.egg-info/
.eggs/
*.spec

# =======================================
# 📁 OUTROS ARQUIVOS TEMPORÁRIOS
# =======================================
.DS_Store
Thumbs.db
*.bak
*.tmp

# =======================================
# 🧰 TESTES / COVERAGE
# =======================================
.coverage
htmlcov/
.tox/
.pytest_cache/
nosetests.xml
coverage.xml

# =======================================
# 🚀 LOCAL CONFIG
# =======================================
instance/
uploads/
